<launch>
 <node pkg="rosbag" type="record" name="bbc_record" args="-b 512 -o /home/cd32/bbc_logging/bbc_bag /tf /tf_static /naoqi_driver_node/camera/front/image_raw/compressed /naoqi_driver_node/camera/front/camera_info /naoqi_driver_node/camera/depth/image_raw/compressedDepth /naoqi_driver_node/camera/depth/camera_info /naoqi_driver_node/people_detected /naoqi_driver_node/face_detected /naoqi_driver_node/audio /naoqi_driver_node/sound_localized /joint_angles /joint_states /rosout /mummer_dialogue/dialogue_text /mummer_dialogue/dialogue_meta "/>
</launch>
